/*------------------------------------*/
/* BASIC SETUP */
/*------------------------------------*/
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@media(max-width: 500px) {
    
}

html {
    background-color: #ffffff;
    color: 0x52a7e0;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;;
}
*/

                    /*new*/



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
}

body {
    font-family: 'lato', 'Arial', sans-serif;
    color: #050505;
    line-height: 1.6;
}

/*------------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;


}
.row1 {
    font-size: 150%;
}

#about.page{
    display:block;
}

/* HEADING */


ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
    font-size: 270%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top:65px;
    font-family: 'Playfair Display', 'Georgia', serif;
    color: #28b062;
}

p {
    margin: 10px 0;   

}

img {
    width: 100%;
}

                 /* Navbar new*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(9deg, rgba(162, 162, 162, 0.564) 100%, rgba(146, 149, 152, 0.82) 0%);    
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    letter-spacing: 3px;
    font-size: 329%;
    font-family: "Bad Script";
    color: rgb(31, 26, 12);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li{
    list-style: none;
    color: black;
}

.nav-links a{
    color: rgb(33, 33, 33);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(60, 60, 60);
    margin: 4px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
    .logo{
        letter-spacing: 3px;
        font-size: 200%;
        font-family: "Bad Script";
        color: rgb(31, 26, 12);
    }
    .nav-links a{
        color: rgb(33, 33, 33);        
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 80%;
    }
}

@media screen and (max-width:768px){
    .logo{
        letter-spacing: 3px;
        font-size: 175%;
        font-family: "Bad Script";
        color: rgb(31, 26, 12);
    }
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-image: linear-gradient(9deg, rgba(220, 219, 219, 0.934) 100%, rgba(146, 149, 152, 0.82) 0%);          display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
        color: black;
    }

    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.front-p {
    max-width: 1100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px
}
                /* Header new */

/*
.hero { 
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.69) 0%, rgb(255, 255, 255) 100%);
    height: 100vh;
    position: relative;
    color: rgb(255, 255, 255);
}
*/



.hero .content {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55%;
}

.hero .content p {
    font-size: 23%;
    margin: 20px 0 30px;
}




                        /*Old*/

h3{
    text-align: center;
    font-weight: 500;
    font-size: 125%;
    color: black;
}

h4{
    text-align: center;
    word-spacing: 3px;
    font-size: 140%;
    letter-spacing: 1.px;
    line-height: 1.;
    text-align: center;
    padding: 10px 0px;

}
/* PARAGRAPHS */



.long-copy {
    text-align: center;
    font-size: 145%;
    margin-bottom: 10px;
    color: #5a5a5a;
    font-family: 'Playfair Display', 'Georgia', serif;
    padding: 0 20px;
    display: block;
}



.long-copy:after{
    display: block;
    height: 2px;
    background-color: #939393;
    content:' ';
    left: 0;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sub-main {
    margin-bottom: 8px;
    margin-top: -22px;
    color: #eded8d;
    word-spacing: 5px;
    letter-spacing: 1px;
    word-spacing: 5px;
    padding: 0 20px;
    font-size: 360%;
    display: block;
}

.hero-text-box h1 {
    padding:  20px;
    color: #ffffff;
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 520%;
    margin-bottom: 0;
    margin-top: 30px;
    box-sizing: border-box;
}


.box p {
    font-size: 99%;
    line-height: 175%;
    padding: 0 20px;
/*    position: relative;*/
    color: black;

}
.box img {
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
}



/*------------------------------------*/
/* HEADER */
/*------------------------------------*/

                /*Old*/
.hero {
    background-image: linear-gradient(rgba(78, 113, 110, 0.28), rgb(0, 0, 0, 0.7)), url(img/back_ground_Fotor.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;    
}


.hero-text-box {
	display: block; 
    text-align: left;
    
}

.hero-text-box p {
    font-size: 155%;
    padding: 0 20px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1.3px;
    font-style: normal;
}






/*------------------------------------*/

.long-co{
    text-align: center;
    font-size: 90%;
    margin-bottom: 100px;
    margin-top: 20px;
}

/*------------------------------------*/

.contact-form{
    widows: 150%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 125%;
    padding: 0 20px;
}

input[type=text],
input[type=email],
selec,
textarea {
    font-size: 105%;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #050505;
    padding: 0 20px;
    height: 45px
}

textarea {
    height: 100px;
}

form .submit{
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 10px 50px;
    font-size: 135%;
    font-weight: 400;
    text-decoration: none;
    border-radius: 500px;
    background-color: #51a7e0;
    color: #ffffff;
    border: 1px solid #51a7e0;
    transition: background-color 0.2s, bouder 0.2s, color 0.2s;
}



        /*Calendar*/
.calendly-inline-widget{
    margin: 0 auto;
    
}

.clr {
    margin: 0 auto;
}


.page1{
    align-content: center;
    justify-content: center;
    text-align: center;
}

#contact.number{
    background: rgba(160, 158, 158, 0.61) no-repeat center center/cover;
        
}
